* {padding: 0px;margin: 0px;font-family: 'eurostileregular';}
a {text-decoration: none;color: #fff;}
body {background-image: url(../img/background.jpg);background-repeat: repeat;}

@font-face {
	font-family: 'eurostileregular';
	src: url('eurostile-webfont.eot');
	src: url('eurostile-webfont.eot?#iefix') format('embedded-opentype'),
	url('eurostile-webfont.woff2') format('woff2'),
	url('eurostile-webfont.woff') format('woff'),
	url('eurostile-webfont.ttf') format('truetype'),
	url('eurostile-webfont.svg#eurostileregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

/********************************************************************************************************************************************************* DISPLAY NONE COLLECTION */

/********************************************************************************************************************************************************* INSERT CLASSES  {display: none;} */

/********************************************************************************************************************************************************* COLLECTION END **********/

/********************************************************************************************************************************************************* BASIC CLASSES ***********/

/********************************************************************************************************************************************************* POSITIONING *************/

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.align_left {
	text-align: left;
}

.align_right {
	text-align: right;
}

.align_center {
	text-align: center;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

/********************************************************************************************************************************************************* COLORS ******************/

.black {
	background-color: #20201f;
	color: #fff;
}

.hover_for_black {
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}

.hover_for_black:hover {
	background-color: #2a2a28;
}

.hover_for_black:active {
	background-color: #171716;
	-webkit-transition: background 0.0s ease;
	-moz-transition: background 0.0s ease;
	-ms-transition: background 0.0s ease;
	-o-transition: background 0.0s ease;
	transition: background 0.0s ease;
}

.white {
	background-color: #f1f1f1;
}

.orange {
	background-color: #f58221;
	color: #fff;
}

.hover_for_orange {
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}

.hover_for_orange:hover {
	background-color: #f68f24;
}

.hover_for_orange:active {
	background-color: #f4751e;
	-webkit-transition: background 0.0s ease;
	-moz-transition: background 0.0s ease;
	-ms-transition: background 0.0s ease;
	-o-transition: background 0.0s ease;
	transition: background 0.0s ease;
}

/********************************************************************************************************************************************************* STYLES ******************/

.text_input {
	border: none;
	border-radius: 2px;
}

.box_shadow {
	-webkit-box-shadow: 0 0 5px 0 rgba(000,000,000,0.4);
	box-shadow: 0 0 5px 0 rgba(000,000,000,0.4);
}

.no_overflow {
	overflow: hidden;
}

.no_liststyle {
	list-style: none;
}

/********************************************************************************************************************************************************* CORNERS *****************/

/********************************************************************************************************************************************************* MAIN ********************/

.special_corner {
	width: 18px;
	height: 45px;
	position: absolute;
	overflow: hidden;
}

.special_corner_rotated {
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	width: 25px;
	height: 25px;
	content: "";
}

/****************************************************************************************************************************************************** INDIVIDUAL ADJUSTMENTS *****/

.special_corner_additional_navbar_adj_left {
	top: -12px;
	left: -18px;
}

.special_corner_additional_navbar_adj_right {
	top: -12px;
}

.special_corner_userpanel_login {
	right: 0px;
}

/********************************************************************************************************************************************************* BOTTOM LEFT *************/

.special_corner_bottom_left {
	width: 25px;
	height: 25px;
	position: absolute;
	content: "";
}
.special_corner_bottom_left_rotated {
	top: 13px;
	left: 5px;
}

/********************************************************************************************************************************************************* BOTTOM RIGHT ************/

.special_corner_bottom_right {
	width: 25px;
	height: 25px;
	position: absolute;
	content: "";
}
.special_corner_bottom_right_rotated {
	top: 13px;
	left: -13px;
}

/********************************************************************************************************************************************************* TOP RIGHT ***************/

.special_corner_top_right {
	width: 25px;
	height: 27px;
	position: absolute;
	content: "";
	top: 18px;
	background-color: inherit;
}
.special_corner_top_right_rotated {
	top: 5px;
	left: -12px;
	background-color: inherit;
}

/********************************************************************************************************************************************************* BASIC CLASSES END *******/


/********************************************************************************************************************************************************* TOP BAR STARTS **********/

#navigation {
	position: fixed;
	width: 100%;
	height: 95px;
	z-index: 6;
}

.logo {
	position: relative;
	top: 21px;
	left: 50px;
}

.nav_search_container {
	position: relative;
	width: 461px;
	height: 45px;
	top: 26px;
	left: 151px;
}

.nav_input {
	position: relative;
	height: 45px;
	padding-left: 10px;
	font-size: 16px;
	color: #a7a7a7;
	width: 259px;
	padding-right: 80px;
}

.nav_input:focus {
	color: #000;
}

.navbar_search_button_container {
	position: relative;
	width: 86px;
	height: 45px;
	left: -85px;
}

.navbar_search_button {
	position: relative;
	border-radius: 0 3px 3px 0;
	width: 57px;
	height: 45px;
	color: #fff;
	padding-left: 18px;
	padding-right: 10px;
	left: 1px;
}

.navbar_search_button_text {
	position: relative;
	text-transform: uppercase;
	font-size: 16px;
	top: 15px;
	left: 15px;
	pointer-events: none;
}

.navbar_search_button_icon {
	position: relative;
	top: 15px;
	left: 15px;
	pointer-events: none;
}

.navbar_search_button_overlay {
	width: 50px;
	height: 50px;
	position: relative;
	content: "";
	top: -2px;
	left: -35px;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.additional_tabs {
	position: relative;
	top: 42px;
	left: 2.6%;
	width: 30%;
}

.additional_tab {
	margin-left: 8%;
	font-size: 16px;
	text-transform: uppercase;
}

/********************************************************************************************************************************************************* TOP BAR ENDS ************/

/********************************************************************************************************************************************************* USER PANEL STARTS *******/

.userpanel_container {
	right: 50px;
	top: 25px;
	position: fixed;
	z-index: 6;
	overflow: visible;
}

.userpanel_login_container {
	position: relative;
	height: 45px;
	width: 255px;
	cursor: pointer;
}

.userpanel_login {
	position: relative;
	padding-top: 20px;
	height: 25px;
	width: 237px;
}

.userpanel_login_icon {
	position: relative;
	top: -15px;
	left: 12px;
	pointer-events: none;
}

.userpanel_login_label {
	position: relative;
	color: #fff;
	top: -7px;
	left: 25px;
	font-size: 18px;
	pointer-events: none;
}

.userpanel_login_panel {
	position: absolute;
	opacity: 0;
	width: 255px;
	background-color: #ffffff;
	right: 0px;
	top: 45px;
	text-align: center;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	-webkit-box-shadow: 0 5px 5px 0 rgba(000,000,000,0.4);
	box-shadow: 0 5px 5px 0 rgba(000,000,000,0.4);
}

.userpanel_login_panel_expanded {
	opacity: 1 !important;
}

.login_input {
	position: relative;
	background-color: #f1f1f1;
	border-radius: 2px;
	height: 38px;
	padding: 0px 10px 0px 10px;
	width: 211px;
	border: none;
	color: #a7a7a7;
	top: 11px;
	margin-bottom: 15px;
}

.login_input:focus {
	color: #000;
}

.userpanel_register_button {
	background-image: url(../img/userpanel_register_button.png);
	width: 135px;
	padding: 6px 0 7px 0;
	height: 12px;
	font-size: 14px;
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
	left: 15px;
}

.userpanel_login_button {
	background-image: url(../img/userpanel_login_button.png);
	width: 60px;
	padding: 6px 0 7px 0;
	height: 12px;
	font-size: 14px;
	position: absolute;
	margin-top: 15px;
	margin-bottom: 15px;
	right: 13px;
	top: 122px;
}

.userpanel_shopping_cart {
	position: relative;
	height: 45px;
	right: 26px;
	width: 255px;
	background-image: url(../img/userpanel_shopping_cart.png);
	background-repeat: no-repeat;
}

.userpanel_shopping_cart_icon {
	position: relative;
	top: 9px;
	right: 12px;
}

.userpanel_shopping_cart_label {
	position: relative;
	color: #fff;
	font-size: 18px;
	top: 13px;
	right: 20px;
}

/********************************************************************************************************************************************************* USER PANEL ENDS *********/

/********************************************************************************************************************************************************* ADDITIONAL BAR STARTS ***/

.additional_navbar {
	position: fixed;
	z-index: 5;
	top: 95px;
	height: 31px;
	width: 315px;
	padding-left: 50px;
	padding-top: 9px;
	font-size: 16px;
}

.additional_navbar_text {
	position: relative;
	left: 6px;
	top: 3px;
}

.additional_nav_input {
	height: 25px;
	position: relative;
	width: 116px;
	color: #a7a7a7;
	padding-right: 45px;
	padding-left: 5px;
	left: 12px;
	top: -1px;
}

.additional_nav_input:focus {
	color: #000;
}

.additional_nav_search_container {
	position: relative;
	height: 25px;
	top: -1px;
	left: -28px;
}

.additional_nav_search {
	border: none;
	position: relative;
	display: inline-block;
	padding: 3px 6px 5px 12px;
	border-radius: 0px 2px 2px 0px;
}

.additional_navbar_search_button_overlay {
	width: 50px;
	height: 50px;
	position: relative;
	content: "";
	top: -13px;
	left: -48px;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.additional_navbar_right {
	position: fixed;
	z-index: 4;
	top: 95px;
	height: 31px;
	padding-left: 0px;
	padding-top: 9px;
	padding-right: 0px;
	font-size: 16px;
	right: 66px;
}

.additional_navbar_text_right {
	position: relative;
	margin-left: 24px;
	top: 3px;
}

.additional_navbar_text_right_first_item {
	margin-left: 0px;
}

/********************************************************************************************************************************************************* ADDITIONAL BAR ENDS *****/

/********************************************************************************************************************************************************* SIDE BAR STARTS *********/

#sidebar {
	position: fixed;
	padding-top: 174px;
	width: 374px;
	height: 100%;
	-webkit-box-shadow: 5px 0 5px 0 rgba(000,000,000,0.05);
	box-shadow: 5px 0 5px 0 rgba(000,000,000,0.05);
	z-index: 4;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.sidebar_text {
	font-size: 18px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.sidebar_tab {
	position: relative;
	background-image: url(../img/nav_tab_bg.png);
	background-repeat: repeat-x;
	height: 55px;
	width: 374px;
}

.sidebar_tab_transition {
	position: absolute;
	background-image: url(../img/nav_tab_bg.png);
	background-repeat: repeat-x;
	background-position: 0px -55px;
	content: "";
	height: 55px;
	width: 374px;
	opacity: 0;
	z-index: 0;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

.sidebar_tab_transition:hover {
	opacity: 1;
}

.sidebar_tab_transition:active {
	opacity: 0;
	-webkit-transition: opacity 0s ease;
	-moz-transition: opacity 0s ease;
	-ms-transition: opacity 0s ease;
	-o-transition: opacity 0s ease;
	transition: opacity 0s ease;
}

.tab_content {
	color: #fff;
	position: absolute;
	z-index: 5;
	top: 17px;
	pointer-events: none;
}

.tab_icon {
	position: relative;
	width: 78px;
	top: 1px;
}

.tab_text {
	position: relative;
	left: 16px;
	top: 1px;
}

.tab_arrow {
	position: absolute;
	left: 346px;
	top: -1px;
}

/********************************************************************************************************************************************************* SIDE BAR ENDS ***********/

#content {
	width: 1447px;
	position: relative;
	height: 500px;
	left: 424px;
	top: 174px;
}

.slider {
	position: relative;
	top: -11px;
}

.prospekt {
	position: relative;
	left: 18px;
}

/********************************************************************************************************************************************************* RESPONSIVE START ********/

/********************************************************************************************************************************************************* PHONES ******************/

/********************************************************************************************************************************************************* iPhone 4(S) and S3 ******/

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}

/********************************************************************************************************************************************************* iPhone 5 and 5S *********/

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}

/********************************************************************************************************************************************************* Galaxy S4 ***************/

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {

}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {

}



/********************************************************************************************************************************************************* Galaxy S5 and HTC One ***/

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {

}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {

}

/********************************************************************************************************************************************************* iPhone 6 ****************/

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}

/********************************************************************************************************************************************************* iPhone 6+ ***************/

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {

}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

}

/******************************************************************************* TABLETS */

/********************************************************************************************************************************************************* iPad mini ***************/

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

}

/********************************************************************************************************************************************************* iPad 1 and 2 ************/

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

}

/********************************************************************************************************************************************************* iPad 3 and 4 ************/

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

}

/********************************************************************************************************************************************************* LAPTOPS *****************/

/********************************************************************************************************************************************************* Non-Retina Screens ******/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {

}

/********************************************************************************************************************************************************* Retina Screens **********/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {

}