/* BASIC CLASSES */
* {padding: 0px;margin: 0px;font-family: 'eurostileregular';}
a {text-decoration: none;color: #fff;}
body {background-image: url(../img/background.jpg);background-repeat: repeat;}

.black {
	background-color: #20201f;
	color: #fff;
}

.hover_for_black {
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}

.hover_for_black:hover {
	background-color: #2a2a28;
}

.hover_for_black:active {
	background-color: #171716;
	-webkit-transition: background 0.0s ease;
	-moz-transition: background 0.0s ease;
	-ms-transition: background 0.0s ease;
	-o-transition: background 0.0s ease;
	transition: background 0.0s ease;
}

.white {
	background-color: #f1f1f1;
}

.orange {
	background-color: #f58221;
	color: #fff;
}

.hover_for_orange {
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}

.hover_for_orange:hover {
	background-color: #f68f24;
}

.hover_for_orange:active {
	background-color: #f4751e;
	-webkit-transition: background 0.0s ease;
	-moz-transition: background 0.0s ease;
	-ms-transition: background 0.0s ease;
	-o-transition: background 0.0s ease;
	transition: background 0.0s ease;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.text_input {
	border: none;
	border-radius: 2px;
}

.box_shadow {
	-webkit-box-shadow: 0 0 5px 0 rgba(000,000,000,0.4);
	box-shadow: 0 0 5px 0 rgba(000,000,000,0.4);
}

.align_left {
	text-align: left;
}

.align_right {
	text-align: right;
}

.align_center {
	text-align: center;
}

.no_overflow {
	overflow: hidden;
}

.no_liststyle {
	list-style: none;
}

.position_relative {
	position: relative;
}

/* BASIC CLASSES END */

/* RESPONSIVE CLASSES START */

.size_3 {
	display: none;
}

/* RESPONSIVE CLASSES END */

/* TOP BAR STARTS */

#navigation {
	position: fixed;
	width: 100%;
	height: 95px;
	z-index: 6;
}

.logo {
	position: relative;
	top: 21px;
	left: 50px;
}

.nav_input {
	position: relative;
	height: 45px;
	padding-left: 10px;
	font-size: 16px;
	color: #a7a7a7;
	width: 259px;
	padding-right: 80px;
}

.nav_input:focus {
	color: #000;
}

.additional_tabs {
	position: relative;
	top: 42px;
	left: 2.6%;
	width: 30%;
}

.additional_tab {
	margin-left: 8%;
	font-size: 16px;
	text-transform: uppercase;
}

.navbar_search_button_container {
	position: relative;
	width: 86px;
	height: 45px;
	left: -85px;
}

.navbar_search_button {
	position: relative;
	border-radius: 0 3px 3px 0;
	width: 57px;
	height: 45px;
	color: #fff;
	padding-left: 18px;
	padding-right: 10px;
	left: 1px;
}

.navbar_search_button_text {
	position: relative;
	text-transform: uppercase;
	font-size: 16px;
	top: 15px;
	left: 15px;
	pointer-events: none;
}

.navbar_search_button_icon {
	position: relative;
	top: 15px;
	left: 15px;
	pointer-events: none;
}

.navbar_search_button_icon_resp1240, .navbar_search_button_icon_resp1080 {
	display: none;
}

.nav_search_container {
	position: relative;
	width: 461px;
	height: 45px;
	top: 26px;
	left: 151px;
}

.navbar_search_button_overlay {
	width: 50px;
	height: 50px;
	position: relative;
	content: "";
	top: -2px;
	left: -35px;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* TOP BAR ENDS */

/***************************************************************************************ADDITIONAL BAR STARTS */

.additional_navbar {
	position: fixed;
	z-index: 5;
	top: 95px;
	height: 31px;
	width: 315px;
	padding-left: 50px;
	padding-top: 9px;
	font-size: 16px;
}

.additional_navbar_right {
	position: fixed;
	z-index: 4;
	top: 95px;
	height: 31px;
	padding-left: 0px;
	padding-top: 9px;
	padding-right: 0px;
	font-size: 16px;
	right: 66px;
}

.additional_navbar_text {
	position: relative;
	left: 6px;
	top: 3px;
}

.additional_navbar_text_right {
	position: relative;
	margin-left: 24px;
	top: 3px;
}

.additional_navbar_text_right_first_item {
	margin-left: 0px;
}

.corner_left {
	left: 358px;
	top: 92px;
}

.additional_nav_input {
	height: 25px;
	position: relative;
	width: 116px;
	color: #a7a7a7;
	padding-right: 45px;
	padding-left: 5px;
	left: 12px;
	top: -1px;
}

.additional_nav_input:focus {
	color: #000;
}

.additional_nav_search_container {
	position: relative;
	height: 25px;
	top: -1px;
	left: -28px;
}

.additional_navbar_search_button_overlay {
	width: 50px;
	height: 50px;
	position: relative;
	content: "";
	top: -13px;
	left: -48px;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.additional_nav_search {
	border: none;
	position: relative;
	display: inline-block;
	padding: 3px 6px 5px 12px;
	border-radius: 0px 2px 2px 0px;
}

/* CORNERS */

	/* MAIN */

	.special_corner {
		width: 18px;
		height: 45px;
		position: absolute;
		overflow: hidden;
	}

	.special_corner_rotated {
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		position: absolute;
		width: 25px;
		height: 25px;
		content: "";
	}

	/* INDIVIDUAL ADJUSTMENTS */

	.special_corner_additional_navbar_adj_left {
		top: -12px;
		left: -18px;
	}
	
	.special_corner_additional_navbar_adj_right {
		top: -12px;
	}

	/* BOTTOM LEFT */

	.special_corner_bottom_left {
		width: 25px;
		height: 25px;
		position: absolute;
		content: "";
	}
	.special_corner_bottom_left_rotated {
		top: 13px;
		left: 5px;
	}

	/* BOTTOM RIGHT */

	.special_corner_bottom_right {
		width: 25px;
		height: 25px;
		position: absolute;
		content: "";
	}
	.special_corner_bottom_right_rotated {
		top: 13px;
		left: -13px;
	}

/* ADDITIONAL BAR ENDS */

/* USER PANEL STARTS */

.userpanel_container {
	right: 50px;
	top: 25px;
	position: fixed;
	z-index: 6;
	overflow: visible;
}

.bottom_bar_wrapper {
	display: none;
}

.userpanel_shopping_cart {
	position: relative;
	height: 45px;
	right: 26px;
	width: 255px;
	background-image: url(../img/userpanel_shopping_cart.png);
	background-repeat: no-repeat;
}

.userpanel_shopping_cart_icon {
	position: relative;
	top: 9px;
	right: 12px;
}

.userpanel_shopping_cart_label {
	position: relative;
	color: #fff;
	font-size: 18px;
	top: 13px;
	right: 20px;
}

.userpanel_login {
	position: relative;
	padding-top: 20px;
	height: 25px;
	width: 255px;
	background-image: url(../img/userpanel_login.png);
	background-color: #fff;
	background-repeat: no-repeat;
	overflow: hidden;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.userpanel_login:hover {
	height: 197px;
	overflow: visible;
	-webkit-box-shadow: 0 5px 5px 0 rgba(000,000,000,0.4);
	box-shadow: 0 5px 5px 0 rgba(000,000,000,0.4);
}

.userpanel_login_icon {
	position: relative;
	top: -15px;
	left: 12px;
	pointer-events: none;
}

.userpanel_login_label {
	position: relative;
	color: #fff;
	top: -7px;
	left: 25px;
	font-size: 18px;
	pointer-events: none;
}

.userpanel_login_expanded {
	position: relative;
	opacity: 0;
	top: -39px;
	padding: 39px 12px 38px 12px;
}

.userpanel_login_expanded:hover {
	opacity: 1;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75s ease;
	transition: all 0.75s ease;
}

.login_input {
	position: relative;
	background-color: #f1f1f1;
	border-radius: 2px;
	height: 38px;
	padding: 0px 10px 0px 10px;
	width: 211px;
	border: none;
	color: #a7a7a7;
	top: 11px;
	margin-bottom: 15px;
}

.login_input:focus {
	color: #000;
}

.userpanel_register_button {
	background-image: url(../img/userpanel_register_button.png);
	width: 135px;
	padding: 5px 9px 4px 13px;
	height: 12px;
	font-size: 14px;
	position: relative;
	top: 15px;
}

.userpanel_login_button {
	background-image: url(../img/userpanel_login_button.png);
	width: 135px;
	padding: 5px 13px 4px 13px;
	height: 12px;
	font-size: 14px;
	position: relative;
	top: 15px;
	left: 50px;
}

/* USER PANEL ENDS */

/* SIDE BAR STARTS */

#sidebar {
	position: fixed;
	padding-top: 174px;
	width: 374px;
	height: 100%;
	-webkit-box-shadow: 5px 0 5px 0 rgba(000,000,000,0.05);
	box-shadow: 5px 0 5px 0 rgba(000,000,000,0.05);
	z-index: 4;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.sidebar {
	position: relative;
}

.sidebar_tab {
	position: relative;
	background-image: url(../img/nav_tab_bg.png);
	background-repeat: repeat-x;
	height: 55px;
	width: 374px;
}

.sidebar_tab_transition {
	position: absolute;
	background-image: url(../img/nav_tab_bg.png);
	background-repeat: repeat-x;
	background-position: 0px -55px;
	content: "";
	height: 55px;
	width: 374px;
	opacity: 0;
	z-index: 0;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

.sidebar_tab_transition:hover {
	opacity: 1;
}

.sidebar_tab_transition:active {
	opacity: 0;
	-webkit-transition: opacity 0s ease;
	-moz-transition: opacity 0s ease;
	-ms-transition: opacity 0s ease;
	-o-transition: opacity 0s ease;
	transition: opacity 0s ease;
}

.sidebar_text {
	font-size: 18px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.tab_content {
	color: #fff;
	position: absolute;
	z-index: 5;
	top: 17px;
	pointer-events: none;
}

.tab_icon {
	position: relative;
	width: 78px;
	top: 1px;
}

.tab_text {
	position: relative;
	left: 16px;
	top: 1px;
}

.tab_arrow {
	position: absolute;
	left: 346px;
	top: -1px;
}

.marketplace_search {
	display: none;
}

/* SIDE BAR ENDS */

#content {
	width: 1447px;
	position: relative;
	height: 500px;
	left: 424px;
	top: 174px;
}

.slider {
	position: relative;
	top: -11px;
}

.prospekt {
	position: relative;
	left: 18px;
}

@media (max-width: 1919px) {

	.userpanel_login {
		width: 69px;
		background-position: -186px 0;
	}

	.userpanel_login span {
		display: none;
	}

	.tab_text {
			 display: none;
		 }

	.tab_arrow {
		left: 76px;
	}

	.tab_icon {
		width: 58px;
	}

	#sidebar, .sidebar_tab, .sidebar_tab_transition {
		width: 114px;
	}

	#content {
		left: 124px;
	}

}

@media (max-width: 1679px) {
	.userpanel_shopping_cart {
		width: 69px;
	}

	.userpanel_shopping_cart span {
		display: none;
	}
}

@media (max-width: 1419px) {
	/* TOP BAR */
	.logo {
		left: 100px;
	}

	.additional_navbar {
		display: none;
	}

	.size_3 {
		display: list-item;
	}
	.additional_tabs {
		display: none;
	}

	.nav_input {
		width: 459px;
	}

	.nav_search_container {
		width: 661px;
	}

	.sidebar_button {
		position: absolute;
		top: 21px;
		left: 21px;
		overflow: hidden;
		width: 60px;
		height: 50px;
		border: 0;
		padding: 0;
		cursor: pointer;
	}

	.sidebar_button_inner {
		width: auto;
		margin-top: 10px;
		height: 10px;
		background-color: #ffffff;
		border: solid #20201F;
		border-bottom-width: 10px;
		border-top-width: 10px;
		border-left-width: 0px;
		border-right-width: 0px;
		content: "";
		-webkit-box-shadow: 0 0 0 10px rgba(255,255,255,1);
		box-shadow: 0 0 0 10px rgba(255,255,255,1);
	}

	/* SIDEBAR */
	
	#sidebar {
		left: -374px;
	}
	
	.sidebar {
		top: 30px;
	}
	
	.sidebar_active {
		left: 0px !important;
	}

	.tab_text {
		display: inline-block;
	}

	.tab_arrow {
		left: 346px;
	}

	.tab_icon {
		width: 78px;
	}

	#sidebar, .sidebar_tab, .sidebar_tab_transition {
		width: 374px;
	}

	#sidebar_overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: #000;
		opacity: 0;
		z-index: -5;
		-webkit-transition: opacity 0.5s ease;
		-moz-transition: opacity 0.5s ease;
		-ms-transition: opacity 0.5s ease;
		-o-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
	}

	.overlay_active {
		opacity: 0.4 !important;
		z-index: 3 !important;
	}

	.marketplace_search {
		top: 117px;
		position: absolute;
		left: 30px;
		color: #f4751e;
		font-size: 25px;
		font-weight: bold;
		width: 100%;
		display: block;
	}
	
	.additional_navbar_text {
		top: -3px;
	}

	.additional_nav_input {
		background-color: #ffffff;
		left: 6px;
		height: 38px;
		width: 146px;
		padding-right: 60px;
		padding-left: 10px;
		font-size: 20px;
	}

	.additional_nav_search {
		height: 38px;
		width: 100%;
		cursor: pointer;
	}

	.additional_nav_search_icon {
		width: 23px;
		top: 8px;
		left: 24px;
		position: absolute;
	}

	.additional_navbar_search_button_overlay {
		background-color: #ffffff;
		left: -42px;
		top: -6px;
	}

	.additional_nav_search_container {
		height: 38px;
		width: 60px;
		left: -40px;
		border-radius: 0px 2px 2px 0px;
	}

	.sidebar_pointer {
		width: 40px;
		margin-right: 20px;
	}

	/* CONTENT */

	#content {
		left: 21px;
		width: 1200px;
	}
}

@media (max-width: 1240px) {
	/* TOPBAR */
	.nav_input, .nav_input:focus {
		background-color: transparent;
		padding-left: 0px;
		color: #fff;
		font-size: 25px;
		width: 100%;
	}

	.navbar_search_button_icon_resp1240 {
		position: absolute;
		display: block;
		right: 15px;
		top: 6px;
		width: 30px;
		cursor: pointer;
	}

	.navbar_search_button_container {
		display: none;
	}

	.nav_search_container {
		width: 31%;
		border: 0px solid #fff;
		border-bottom-width: 1px;
		padding-right: 50px;
	}

	.additional_navbar_right {
		width: 100%;
		right: 0px;
		padding-right: 50px;
		font-size: 20px;
		padding-bottom: 4px;
	}
}

@media (max-width: 1080px) {

	/* TOPBAR */
	.nav_input, .nav_input:focus {
		background-color: transparent;
		padding-left: 0px;
		color: #fff;
		font-size: 25px;
		width: 100%;
	}

	.navbar_search_button_icon_resp {
		position: absolute;
		display: block;
		right: 15px;
		top: 6px;
		width: 30px;
		cursor: pointer;
	}

	.navbar_search_button_container {
		display: none;
	}

	.nav_search_container {
		width: 31%;
		border: 0px solid #fff;
		border-bottom-width: 1px;
		padding-right: 50px;
		display: none;
	}
	.logo {
		left: 50%;
		margin-left: -136px;
	}
	
	.navbar_search_button_icon_resp1080 {
		display: block;
		position: absolute;
		right: 50px;
		top: 21px;
		height: 50px;
		cursor: pointer;
	}

	/* BOTTOM BAR */

	.userpanel_container_resp1080 {
		display: none;
	}

	.bottom_bar_wrapper {
		display: block;
		width: 100%;
		position: fixed;
		bottom: 0px;
		height: 100px;
		color: #706f6f;
		z-index: 3;
		-webkit-box-shadow: 0 0 10px 10px rgba(000,000,000,0.1);
		box-shadow: 0 0 10px 10px rgba(000,000,000,0.1);
	}

	.userpanel_shopping_cart {
		width: 50%;
		height: 100%;
		left: 0px;
		right: 0px;
		background-image: none;
		background-color: #fff;
	}

	.userpanel_login, .userpanel_login:hover {
		width: 50%;
		height: 100%;
		left: 0px;
		right: 0px;
		padding-top: 0px;
		background-image: none;
		background-color: #fff;
		-webkit-box-shadow: 0 0px 0px 0 rgba(000,000,000,0);
		box-shadow: 0 0px 0px 0 rgba(000,000,000,0);
	}

	.userpanel_shopping_cart_icon1080 {
		position: relative;
		left: 50px;
		top: 28px;
		width: 50px;
	}

	.userpanel_login_icon1080 {
		 position: relative;
		 left: 50px;
		 top: 28px;
		 width: 50px;
	 }
}